body {
    /*font-family: 'Arial', sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
    background-color: #f0f4f8; /* Fundo suave */
    /*height: 100vh; !* Garantir que ocupe toda a altura *!*/
    flex-direction: column; /* Para alinhar o footer na parte inferior */
    width: 100%;
    display:flex;
    min-height: 100vh;
    position: relative;
}

/* Navigation styles */
.nav {
    background-color: #07956c;
    padding: 20px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-link {

    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display:-ms-flexbox;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold; /* Texto em negrito */
    border-radius: 8px;
    font-size: 18px;
    font-family:  "Century Gothic";
}

.nav-link:hover {
    background-color: #76baa5;
    color: #fff;
}

.custom-link {
    color: white;
    /*color: inherit; !* Mantém a cor do texto do elemento pai *!*/
    text-decoration: none; /* Remove o sublinhado */
}

/* Main content styles */
.main-content {
    /*flex: 1;*/
    padding: 20px;
    /*margin: 20px auto;*/
    min-height: calc(100vh - 160px);
    /*width: 100%;*/
    /*width: fit-content;*/
    /*height: auto;*/
    /*height: 100%;*/
    /*background: #bcfdeb;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /*min-height: calc(100vh - 160px); !* Ajuste para a altura total menos cabeçalho e rodapé *!*/
}


/* Footer styles */
.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #e3f2fd;
    width: 100%;
    height: 100%;
    nav-down: auto;
    font-size: small;
    font-weight: bold; /* Negrito no rodapé */
}

/* Estilo geral da tabela */
.rich-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid darkgray;
    overflow-x: auto; /* Permite rolagem horizontal */

}
.rich-tableForm {
    overflow-x: auto;
}
.rich-tableForm .action-buttonForm{
    background-color: rgb(118, 186, 165);
    color: #0c0e0e;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s; /* Animação ao passar o mouse */
    border-radius: 16px;
    font-weight: bold;

}

.rich-tableForm .action-buttonForm:hover {
    background-color: rgba(105, 237, 203, 0.79); /* Escurece o botão ao passar o mouse */
}


.rich-table tr {

    color: #0c0e0e; /* Cor do texto */
    border: 2px solid darkgray;
}

/* Estilo para as células de cabeçalho */
.rich-table th {
    background-color: #068562; /* Verde escuro */
    color: white; /* Letras brancas */
    padding: 12px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
    border: 2px solid darkgray;
}

/* Estilo para as células */
.rich-table td {
    padding: 12px; /* Espaçamento interno */
    border: 2px solid darkgray;
}

/* Estilo para as linhas pares */
.rich-table tr:nth-child(even) {
    background-color: rgba(118, 186, 165, 0.39); /* Fundo sutil para linhas pares */
    border: 2px solid darkgray;
}

/* Estilo para as linhas ao passar o mouse */
.rich-table tr:hover {
    background-color: rgb(111, 166, 148); /* Destaque quando o mouse está sobre a linha */
}

/* Botões dentro da tabela */
.rich-table .action-button {
    background-color: rgb(118, 186, 165);
    color: #0c0e0e;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s; /* Animação ao passar o mouse */
    border-radius: 16px;
    font-weight: bold;
}

.rich-table .action-button:hover {
    background-color: rgba(105, 237, 203, 0.79); /* Escurece o botão ao passar o mouse */
}




/**/
/* Button styles */
/*h\:commandButton {*/
/*    background-color: #3f51b5;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px;*/
/*    margin: 10px 0; !* Margem vertical para separar os botões *!*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*    transition: background-color 0.3s, transform 0.2s;*/
/*    font-weight: bold; !* Negrito nos botões *!*/
/*    width: 100%; !* Largura total *!*/
/*    display: block;*/
/*}*/

/*h\:commandButton:hover {*/
/*    background-color: #1e88e5;*/
/*    transform: translateY(-2px);*/
/*}*/


/* Media queries */
@media (max-width: 768px) {
    .nav-link {
        display: block;
        padding: 10px;
        text-align: center;

    }

    .main-content {
        padding: 40px;
        margin: 40px auto;
    }

    /*@media (min-width: 1024px) {*/
    /*      .login-container {*/
    /*          max-width: 500px; !* Largura maior em telas grandes *!*/
    /*          padding: 40px; !* Mais padding, se necessário *!*/
    /*      }*/
    /*  }*/
    .nav-link:hover::before {
        filter: brightness(0.8);
    }

    .nav-link {
        position: relative;
        padding-left: 30px;
    }

    /* Ícones usando Font Awesome */
    .home-link::before {
        content: "\f015"; /* Código do ícone da casa */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white; /* Cor do ícone */
    }

    .pet-link::before {
        content: "\f1ae"; /* Código do ícone de pet */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .user-link::before {
        content: "\f007"; /* Código do ícone de usuário */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .service-link::before {
        content: "\f0f1"; /* Código do ícone de serviços */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .shop-link::before {
        content: "\f07a"; /* Código do ícone de carrinho de compras */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .nav-link {
        padding: 14px 20px;

    }

    .nav-link i {
        margin-right: 8px;
        font-size: 18px;
    }

    .login-container {
        display: flex;
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        background-color: #07956c;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto; /* Centraliza */
        /*max-width: 400px; !* Largura máxima *!*/

        width: 100%; /* Largura total */
        max-width: 400px; /* Largura máxima */
        /*width:inherit;*/
        height: fit-content; /* Largura total */
        position: relative;
        /*display:-ms-flexbox;*/
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        color: white;

    }


    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-family: "Font Awesome 5 Free";
    }

    .input-container {
        font-family: "Font Awesome 5 Free";
        margin-bottom: 15px;
        text-align: center;
    }

    .input-field {
        width: 80%;
        padding: 10px;
        border: 1px solid #608a81;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: "Font Awesome 5 Free";
    }

    .btn-login, .btn-cadastrar {
        width: 80%;
        padding: 10px;
        /*padding: 14px 20px;*/
        background-color: rgba(118, 186, 165, 0.39);
        color: rgba(118, 186, 165, 0.47);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: medium;
        font-weight: bold;
        position: relative;
        text-align: center;
        font-family: "Font Awesome 5 Free";
    }


    .btn-login:hover, .btn-cadastrar:hover {
        background-color: #76baa5;
        color: #fff;
        filter: brightness(0.8);
        font-family: "Font Awesome 5 Free";
    }

    /* Media queries para telas pequenas */
    @media (max-width: 768px) {


        .login-container {
            padding: 20px; /* Ajuste o padding para telas menores */
            margin: 10px auto; /* Margem menor para o login */
            width: 90%; /* Largura total em telas pequenas */
        }

        .main-content {
            margin: 10px; /* Margem menor */
            padding: 10px; /* Padding menor */
        }
    }

    /* Media queries para telas médias e grandes */
    @media (min-width: 769px) {


        .login-container {
            max-width: 500px; /* Largura máxima em telas maiores */
            padding: 30px; /* Padding padrão */
        }

        .main-content {
            margin: 20px auto; /* Centraliza horizontalmente */
            padding: 20px; /* Padding padrão */
        }
    }

    /* Media queries para telas muito grandes, se necessário */
    @media (min-width: 1024px) {
        .login-container {
            max-width: 500px;
            padding: 40px; /* Mais padding para telas grandes */
        }

    }
    /*@media (max-width: 768px) {*/
    /*    .rich-table {*/
    /*        display: block; !* Faz a tabela se comportar como um bloco *!*/
    /*        overflow-x: auto; !* Permite rolagem horizontal *!*/
    /*        white-space: nowrap; !* Impede quebra de linha *!*/
    /*    }*/

    /*    .rich-table th, .rich-table td {*/
    /*        display: block; !* Faz as células se comportarem como blocos *!*/
    /*        text-align: right; !* Alinha texto à direita *!*/
    /*    }*/

    /*    .rich-table th {*/
    /*        position: absolute; !* Posiciona o cabeçalho *!*/
    /*        left: -9999px; !* Sai da tela para não aparecer *!*/
    /*    }*/

    /*    .rich-table tr {*/
    /*        margin-bottom: 15px; !* Espaçamento entre as linhas *!*/
    /*    }*/
    /*}*/



}
