<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/testeAppDemo"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>


    <!--petbean-->
    <bean id="petDao" class="com.example.demo.Dao.IBatisPetDao">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="petService" class="com.example.demo.Service.PetService">
        <property name="petDao" ref="petDao"/>
    </bean>
    <bean id="petController" class="com.example.demo.Control.PetController">
        <property name="petService" ref="petService"/>
    </bean>

    <!--userbean-->
    <bean id="userDao" class="com.example.demo.Dao.IBatisUserDao">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="userService" class="com.example.demo.Service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userController" class="com.example.demo.Control.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <!--auditoriabean-->
    <bean id="auditoriaDao" class="com.example.demo.Dao.IBatisAuditoriaDao">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="auditoriaService" class="com.example.demo.Service.AuditoriaService">
        <property name="auditoriaDao" ref="auditoriaDao"/>
    </bean>





    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--&lt;!&ndash; AOP Configuration &ndash;&gt;
    <aop:config>
        <aop:pointcut id="serviceLayer" expression="execution(* com.example.demo.Service.UserService.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceLayer"/>
    </aop:config>



    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="createUserAndPets" propagation="REQUIRED"/>
            <tx:method name="saveUser" propagation="REQUIRED"/>
            <tx:method name="savePet" propagation="REQUIRED"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>-->

    <context:component-scan base-package="com.example.demo"/>
</beans>
